.App {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(236, 7, 7), rgb(240, 166, 7));
  justify-content: center;
}
.input-text {
  width: 90%;
  margin: 10px auto;
  border: none;
  height: 40px;
  border-radius: 5px;
}
.input-text::placeholder {
  padding-left: 10px;
  color: rgb(255, 64, 0);
}
#root {
  width: 100%;
  height: 100vh;
}
.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.first {
  background-color: rgb(249, 250, 250);
  min-width: 40%;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  height: 60px;
  word-wrap: break-word;
  overflow: hidden;
  align-items: center;
  column-gap: 20px;
  padding: 20px;
}
.first:last-child {
  margin-bottom: 40px;
}
